{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">Corporate Summary</h3>
                </div>
            </div>
        </div>
    </div>
	
	<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box border blue">
                        <div class="box-body big">
                            <h3 class="form-title">Select Corporation Name:</h3>

                            {{ form_start(corporationFinderForm, {'attr': {'role': 'form', 'class': 'form-inline'} }) }}

                            {{ form_errors(corporationFinderForm) }}
                            <div class="form-group">
                                {{ form_row(corporationFinderForm.corporation, {'label': 'Nick Name',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            {{ form_widget(corporationFinderForm.Go, {'attr': {'class': 'btn btn-info'} }) }}
                            <button class="btn btn-small btn-pink" type="button" onclick="javascript:window.location.href='{{ path('_summary_corporate_createreport', {'id': corporationArray.corporationid}) }}'">Export to Word Document</button>
                            {{ form_end(corporationFinderForm) }}

                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
	
	<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box border blue">
                <div class="box-title">
                    <h4>Summary</h4>
                </div>
                <div class="box-body big">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>{{CorporationObj.corporatename}}</b>
                                </div>
                                <div class="col-md-6">
                                    <b>Corp File No. {{CorporationObj.filenumber}}</b>
                                </div>
                            </div>
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="page1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="background-color: #CCCCCC;">
                                     <p style="font-size: 16px;"><b>ADMINISTRATIVE</b></p>
                                     </div>
                                        <div class="col-md-3">
                                            <p><b>Resp. Solicitor: </b></p>
                                            <p><b>Use: </b></p>
										</div>
                                        <div class="col-md-9">
                                            <p>{{ CorporationObj.respsolicitor }}</p>
                                            <p>{{ CorporationObj.corporateusage }}</p>
                                        </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
									<div class="col-md-12" style="background-color: #CCCCCC;">
                                     <p style="font-size: 16px;"><b>CORPORATE</b></p>
                                     </div>
									<div class="col-md-2">
                                        <p><b>Jurisdiction: </b></p>
										<p><b>Reg. No: </b></p>
									    <p><b>Seal: </b></p>
									</div>
                                    <div class="col-md-3">
                                        <p>{{ corporationArray.provinceName }}</p>
                                        <p>{{ CorporationObj.registrationnumber }}</p>
                                        <p>{{ CorporationObj.seal }}</p>
                                    </div>
									<div class="col-md-3">
										<p><b>Fiscal Year End: </b></p>
										<p><b>Reg. Date: </b></p>
										<p><b>Location of Seal: </b></p>
									</div>
                                    <div class="col-md-3">
                                        <p>{{ CorporationObj.fiscalyearend }}</p>
                                        <p>{{ corporationArray.registrationDate }}</p>
                                        <p>{{ CorporationObj.locationseal }}</p>
                                    </div>
								</div>
                            </div>
                            <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-12">
									<div class="col-md-12" style="background-color: #CCCCCC;">
                                     <p style="font-size: 16px;"><b>REGISTERED AND RECORDS OFFICE</b></p>
                                     </div>
										<div class="col-md-6">
											<p><b>Registered Office:</b></p>
											<p>{{ RegisteredObj.officename }}</p>
											<p>{{ RegisteredObj.address }}</p>
											<p>{{ corporationArray.registeredProvince }}, {{ corporationArray.registeredCity }}</p>
											<p>{{ RegisteredObj.postalzip }}</p>
										</div>
										<div class="col-md-6">
											<p><b>Records Office:</b></p>
											<p>{{ RecordsofficeObj.officename }}</p>
											<p>{{ RecordsofficeObj.address }}</p>
											<p>{{ corporationArray.recordsProvince }}, {{ corporationArray.recordsCity }}</p>
											<p>{{ RecordsofficeObj.postalzip }}</p>	
										</div>	
									</div>
                                </div>
                            <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="col-md-12" style="background-color: #CCCCCC;">
                                     <p style="font-size: 16px;"><b>EXTRA-PROVINCIAL JURISDICTION</b></p>
                                     </div>
                                        {% for jurisdiction in JurisdictionsObj %}
                                            <div class="col-md-12">
                                            <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                            <p>{{ jurisdiction.provincestateid.description }}</p>
                                            </div>
                                            <div class="col-md-4">
                                            <p><b>Date Registered: </b> {{ jurisdiction.registereddate | date("m/d/Y", false) }}</p>
                                            </div>
                                            <div class="col-md-4">
                                            <p><b>Reg No: </b>{{ jurisdiction.registrationnumber }}</p>       
                                            </div>
                                            </div>
                                            </div>
										{% endfor %}
                                    </div>
                                </div>
                            <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="col-md-12" style="background-color: #CCCCCC;">
                                     <p style="font-size: 16px;"><b>DIRECTORS, OFFICERS</b></p>
                                     </div>
                                        {% for director in DirectorsObj %}
                                        <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-4">
                                            <p><b>{{ director.directorName }}</b></p>
                                            <p>{{ director.directorPosition }}</p>
                                            <p><br></p>
                                        </div>
                                        <div class="col-md-5">
                                            <p>{{ director.directorAddress }} {{ director.directorCity }}, {{ director.directorPropState }}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <p>{{ director.directorZipCode }}</p>
                                        </div>
                                        </div>
										{% endfor %}
								    </div>
                                </div>
                            <div class="separator"></div>
							    <div class="row">
                                    <div class="col-md-12">
                                    
                                        <div class="col-md-12" style="background-color: #CCCCCC;">
                                            <p style="font-size: 16px;"><b>CAPITAL STRUCTURE </b> </p>
                                        </div>

                                        <div class="col-md-12 offset col-md-2">
                                            <p>{{CorporationObj.capitalstructure}}</p>
                                        </div>

								    </div>
                               </div>
                            </div>
                            <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="col-md-12" style="background-color: #CCCCCC;">
                                            <p style="font-size: 16px;"><b>MEMBERSHIPS</b> </p>
                                        </div>
                                        {% for member in Memberships %}
                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{ member.sharetypeid.sharetype }}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <p>{{ member.numberofshares }}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{ member.directorid.directorname }}</p> 
                                            </div>
                                        </div>
											{% endfor %}
									</div>
                                </div>
                            <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="col-md-12" style="background-color: #CCCCCC;">
                                            <p style="font-size: 16px;"><b>NAME CHANGES </b> </p>
                                        </div>

                                        <div class="col-md-12 offset col-md-2">
                                            <p>{{CorporationObj.namechanges}}</p>
                                        </div>                                            
                                    </div>
								</div>
			</div>
		</div>           
    </div>

{% endblock %}