{% extends "EarlsLeaseBundle::layout.html.twig" %}

{% block body %}
    {{ form_start(leaseInfoForm, {'attr': {'id': 'leaseForm', 'role': 'form',
    'class': 'form-horizontal'} }) }}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">ADD A LEASE</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box border blue">
                <div class="box-body big">
                    <h3 class="form-title">FOR: {{ restaurantInfo.restaurantNickname }}<b></b></h3>
                </div>
            </div>
        </div>
    </div>

    <div id="warning"></div>

    <div class="row">
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Lease Info</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Lease Type:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.leasetype, {'label': 'Lease Type',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.leasetype) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Lease Date:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.leasedate, {'label': 'Lease Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'leaseInfoForm'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.leasedate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Term:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.term, {'label': 'Term',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.term) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Commencement Date:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.commencementdate, {'label': 'Commencement Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'leaseInfoForm'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.commencementdate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Expiry Date:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.expirydate, {'label': 'Expiry Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'leaseInfoForm'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.expirydate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Option Time:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.optiontime, {'label': 'Option Time',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.optiontime) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Show in Lease Rpt</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.showinlease, {'label': 'Show in Lease Rpt',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.showinlease) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box border green">
                <div class="box-title">
                    <h4>Special Terms and Condition</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Exclusive Use:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.exclusiveuse, {'label': 'Exclusive Use',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.exclusiveuse) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">TI Allowance:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.tiallowance, {'label': 'TI Allowance',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.tiallowance) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Radius Clause:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.radiusclause, {'label': 'Radius Clause',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.radiusclause) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indemnifier:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.indemnifier, {'label': 'Indemnifier',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.indemnifier) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indemnity Period:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.indemnityperiod, {'label': 'Indemnity Period',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.indemnityperiod) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indmenity Expiry:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.indemnityexpiry, {'label': 'Indmenity Expiry',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'leaseInfoForm'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.indemnityexpiry) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Other:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.otherdescription, {'label': 'Other',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.otherdescription) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Square Feet</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Main:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.areamain, {'label': 'Main',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.areamain) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Upper Floor/Basement:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.areaupperfloor, {'label': 'Upper Floor/Basement',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.areaupperfloor) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mezzanine:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.areamezzanine, {'label': 'Mezzanine',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.areamezzanine) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Patio:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.areapatio, {'label': 'Patio',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.areapatio) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Other:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.areaother, {'label': 'Other',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.areaother) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Surveyed:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.surveyeddescription, {'label': 'Surveyed',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.surveyeddescription) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box border green">
                <div class="box-title">
                    <h4>Lease Report Info</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reporting Period:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leasereportinfo.reporttypeid, {'label': 'Reporting Period',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leasereportinfo.reporttypeid) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Certified Sales?</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leasereportinfo.iscertifiedsales, {'label': 'Certified Sales',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leasereportinfo.iscertifiedsales) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due Date:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leasereportinfo.duedate, {'label': 'Due Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leasereportinfo.duedate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Is Audit?</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leasereportinfo.isaudit, {'label': 'Is Audit',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leasereportinfo.isaudit) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Is Certified?</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leasereportinfo.iscertified, {'label': 'Is Certified',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leasereportinfo.iscertified) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Renewal Information</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Terms:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.renewalterms, {'label': 'Renewal Terms',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.renewalterms) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Option Date:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.renewaloptiondate, {'label': 'Renewal Option Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'leaseInfoForm'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.renewaloptiondate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Comments:</label>
                        <div class="col-sm-9">

                            {{ form_widget(leaseInfoForm.leaseinfo.renewalcomments, {'label': 'Renewal Comments',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(leaseInfoForm.leaseinfo.renewalcomments) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Rate</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-lg-6">

                                    <label>Term</label>

                                </div>
                                <div class="col-lg-3">

                                    <label>Exercised</label>

                                </div>
                                <div class="col-lg-3">

                                    <label>Show?</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">

                            <div id="renewal-fields-list" data-prototype="{% filter escape %}{% include 'EarlsLeaseBundle:LeaseInformation:renewals.html.twig' with {'renewalform': leaseInfoForm.renewals.vars.prototype} %}{% endfilter %}">
                                {% for renewalField in leaseInfoForm.renewals %}
                                    <div class="newRenewalForm">
                                        <div class="col-lg-6">
                                            {{ form_widget(renewalField.term, {'label': '',
                                            'label_attr': {'class': 'control-label'},
                                            'attr': {'class': 'form-control'}
                                            }) }}
                                            {{ form_errors(renewalField.term) }}
                                        </div>
                                        <div class="col-lg-2">
                                            {{ form_widget(renewalField.exercised, {'label': '',
                                            'label_attr': {'class': 'control-label'}
                                            }) }}
                                        </div>
                                        <div class="col-lg-2">
                                            {{ form_widget(renewalField.showinleasereport, {'label': '',
                                            'label_attr': {'class': 'control-label'}
                                            }) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Critical Issues</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-lg-6">

                                    <label>Date</label>

                                </div>
                                <div class="col-lg-3">

                                    <label>Clause</label>

                                </div>
                                <div class="col-lg-3">

                                    <label>Description</label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">

                            <div id="task-fields-list" data-prototype="{% filter escape %}{% include 'EarlsLeaseBundle:LeaseInformation:tasks.html.twig' with {'taskForm': leaseInfoForm.leasecriticaltasks.vars.prototype} %}{% endfilter %}">
                                {% for criticalField in leaseInfoForm.leasecriticaltasks %}
                                    <div class="newTaskForm">
                                        <div class="col-lg-3">
                                            {{ form_widget(criticalField.ctdate, {'label': '',
                                            'label_attr': {'class': 'control-label'},
                                            'attr': {'form':'leaseInfoForm'}
                                             }) }}
                                            {{ form_errors(criticalField.ctdate) }}
                                        </div>
                                        <div class="col-lg-3">
                                            {{ form_widget(criticalField.ctclause, {'label': '',
                                            'label_attr': {'class': 'control-label'},
                                            'attr': {'class': 'form-control'}
                                            }) }}
                                            {{ form_errors(criticalField.ctclause) }}
                                        </div>
                                        <div class="col-lg-4">
                                            {{ form_widget(criticalField.ctdescription, {'label': '',
                                            'label_attr': {'class': 'control-label'},
                                            'attr': {'class': 'form-control'}
                                             }) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {{ form_end(leaseInfoForm) }}
    <button type="submit" class="btn btn-primary" form="leaseForm">Add Lease</button>
{% endblock %}

{% block javascript %}
    <script>
    var $addWarning = $('<div class="alert alert-danger"><a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>Your form has errors. Please correct them to proceed.</div>');
    var $collectionRenewal;
    var $collectionTask;

    // setup an "add a tag" link
    var $addRenewalLink = $('<a href="#" class="btn btn-small btn-success add_tag_link"><i class="fa fa-plus"></i> Add Renewal Rate </a>');
    var $addTaskLink = $('<a href="#" class="btn btn-small btn-success add_tag_link"><i class="fa fa-plus"></i> Add Critical Task </a>');
    var $newRenewalLink = $('<div id="leaseRenewal"></div>').append($addRenewalLink);
    var $newTaskLink = $('<div id="leaseTask"></div>').append($addTaskLink);

    jQuery(document).ready(function() {
        $('span.help-inline').parent().addClass('has-error');
        $('span.help-inline').css('color','red');
        if ($('span.help-inline').length) {
            $('div#warning').append($addWarning);
        }
        // Get the ul that holds the collection of renewals/task
        $collectionRenewal = $('div#renewal-fields-list');
        $collectionTask = $('div#task-fields-list');

        // add the "add a tag" anchor and li to the tags ul
        $collectionRenewal.append($newRenewalLink);
        $collectionTask.append($newTaskLink);

        // add a delete link to all of the existing tag form li elements
        $collectionRenewal.find('.newRenewalForm').each(function() {
            addRenewalFormDeleteLink($(this));
        });
        $collectionTask.find('.newTaskForm').each(function() {
            addTaskFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionRenewal.data('index', $collectionRenewal.find(':text').length);
        $collectionTask.data('index', $collectionTask.find(':text').length);

        $addRenewalLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addRenewalForm($collectionRenewal, $newRenewalLink);
        });

        $addTaskLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTaskForm($collectionTask, $newTaskLink);
        });

    });

    function addRenewalForm($collectionRenewal, $newRenewalLink) {
        // Get the data-prototype explained earlier
        var prototype = $collectionRenewal.data('prototype');

        // get the new index
        var index = $collectionRenewal.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionRenewal.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div id="newRenewalForm"></div>').append(newForm);
        //$newFormLi.append($('<div class="separator"></div>'));
        $newRenewalLink.before($newFormLi);
        addRenewalFormDeleteLink($newFormLi);
    }

    function addTaskForm($collectionTask, $newTaskLink) {
        // Get the data-prototype explained earlier
        var prototype = $collectionTask.data('prototype');

        // get the new index
        var index = $collectionTask.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionTask.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div id="newTaskForm"></div>').append(newForm);
        //$newFormLi.append($('<div class="separator"></div>'));
        $newTaskLink.before($newFormLi);
        addTaskFormDeleteLink($newFormLi);
    }

    function addRenewalFormDeleteLink($renewalForm) {
    var $removeRenewal = $('<a href="#" class="btn btn-small btn-danger" style="color:white;"><i class="fa fa-times"></i> DELETE</a><div class="separator"></div>');

    $renewalForm.append($removeRenewal);

    $removeRenewal.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $renewalForm.remove();
    });
    }

    function addTaskFormDeleteLink($taskForm) {
    var $removeTask = $('<a href="#" class="btn btn-small btn-danger" style="color:white;"><i class="fa fa-times"></i> DELETE</a><div class="separator"></div>');
    //var $deleteDiv = $('<div id="deleteRenewal"></div>').append($removeFormA);
    $taskForm.append($removeTask);

    //$('deleteRenewal').append($removeFormA);

    $removeTask.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $taskForm.remove();
    });
    }


    </script>
{% endblock %}