{% extends "EarlsLeaseBundle::layout.html.twig" %}

{% block body %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">Lease Information</h3>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="box border blue">
            <div class="box-body big">
                <h3 class="form-title">{{ leaseInfoForm.restaurantName.vars.value }}<b></b></h3>
                <a class="btn btn-small btn-success" href="{{ path('_addLease_id', {'id': leaseInfoForm.restaurantid.vars.value} )}}">
                    <i class="fa fa-plus"></i> Add a Lease
                </a>
            </div>
        </div>
    </div>
</div>


<ul class="nav nav-tabs">
{% for leaseInfoForm in leaseInfoForm.leaseinfo %}
    <li><a href="#{{ loop.index }}" data-toggle="tab">Lease #{{ loop.index }}</a></li>
{% endfor %}
</ul>

    {{ form_start(leaseInfoForm, {
    'attr': {
    'role': 'form',
    'class': 'form-horizontal'
    }
    }) }}
<div class="tab-content">
{% for leaseInfoForm in leaseInfoForm.leaseinfo %}
    {% if loop.index == '1' %}
    <div class="tab-pane fade in active" id="{{ loop.index  }}">
    {% else %}
        <div class="tab-pane fade" id="{{ loop.index  }}">
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="box border orange">
                        <div class="box-title">
                            <h4>Lease Info</h4>
                        </div>
                        <div class="box-body big">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Lease Type:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.leasetype, {'label': 'Lease Type',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Lease Date:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.leasedate, {'label': 'Lease Date',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'form':'leaseInfoForm'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Term:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.term, {'label': 'Term',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Commencement Date:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.commencementdate, {'label': 'Commencement Date',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'form':'leaseInfoForm'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Expiry Date:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.expirydate, {'label': 'Expiry Date',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'form':'leaseInfoForm'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Option Time:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.optiontime, {'label': 'Option Time',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Show in Lease Rpt</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.showinlease, {'label': 'Show in Lease Rpt',
                                    'label_attr': {'class': 'control-label'}
                                    }) }}

                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="col-md-6">
                    <div class="box border green">
                        <div class="box-title">
                            <h4>Special Terms and Condition</h4>
                        </div>
                        <div class="box-body big">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Exclusive Use:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.exclusiveuse, {'label': 'Exclusive Use',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">TI Allowance:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.tiallowance, {'label': 'TI Allowance',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Radius Clause:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.radiusclause, {'label': 'Radius Clause',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Indemnifier:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.indemnifier, {'label': 'Indemnifier',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Indemnity Period:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.indemnityperiod, {'label': 'Indemnity Period',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Indemnity Expiry:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.indemnityexpiry, {'label': 'Indmenity Expiry',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'form':'leaseInfoForm','class': 'form-control' }
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Other:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.otherdescription, {'label': 'Other',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box border orange">
                        <div class="box-title">
                            <h4>Square Feet</h4>
                        </div>
                        <div class="box-body big">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Main:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.areamain, {'label': 'Main',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Upper Floor/Basement:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.areaupperfloor, {'label': 'Upper Floor/Basement',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mezzanine:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.areamezzanine, {'label': 'Mezzanine',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Patio:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.areapatio, {'label': 'Patio',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Other:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.areaother, {'label': 'Other',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Surveyed:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.surveyeddescription, {'label': 'Surveyed',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box border green">
                        <div class="box-title">
                            <h4>Lease Report Info</h4>
                        </div>
                        <div class="box-body big">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Reporting Period:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leasereportinfo.reporttypeid, {'label': 'Reporting Period',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Certified Sales?</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leasereportinfo.iscertifiedsales, {'label': 'Certified Sales',
                                    'label_attr': {'class': 'control-label'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Due Date:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leasereportinfo.duedate, {'label': 'Due Date',
                                    'label_attr': {'class': 'control-label'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Is Audit?</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leasereportinfo.isaudit, {'label': 'Is Audit',
                                    'label_attr': {'class': 'control-label'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Is Certified?</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leasereportinfo.iscertified, {'label': 'Is Certified',
                                    'label_attr': {'class': 'control-label'}
                                    }) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box border orange">
                        <div class="box-title">
                            <h4>Renewal Information</h4>
                        </div>
                        <div class="box-body big">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Renewal Terms:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.renewalterms, {'label': 'Renewal Terms',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Renewal Option Date:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.renewaloptiondate, {'label': 'Renewal Option Date',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'form':'leaseInfoForm'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Renewal Comments:</label>
                                <div class="col-sm-9">

                                    {{ form_widget(leaseInfoForm.leaseinfo.renewalcomments, {'label': 'Renewal Comments',
                                    'label_attr': {'class': 'control-label'},
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Renewal Rate</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <label>Term</label>

                                        </div>
                                        <div class="col-lg-3">

                                            <label>Exercised</label>

                                        </div>
                                        <div class="col-lg-3">

                                            <label>Show?</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">

                                        {% for renewalField in leaseInfoForm.renewals %}

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    {{ form_widget(renewalField.term, {'label': '',
                                                    'label_attr': {'class': 'control-label'},
                                                    'attr': {'class': 'form-control'}
                                                    }) }}
                                                </div>
                                                <div class="col-lg-3">
                                                    {{ form_widget(renewalField.exercised, {'label': '',
                                                    'label_attr': {'class': 'control-label'}
                                                    }) }}
                                                </div>
                                                <div class="col-lg-3">
                                                    {{ form_widget(renewalField.showinleasereport, {'label': '',
                                                    'label_attr': {'class': 'control-label'}
                                                    }) }}
                                                </div>
                                            </div>
                                            <div class="separator"></div>
                                        {% endfor %}
                                        <a class="btn btn-small btn-success" data-toggle="modal" data-remote="{{ path('_getRenewal_id', {'id': leaseInfoForm.leaseid.vars.value}) }}" data-target="#renewalModal{{ leaseInfoForm.leaseid.vars.value }}">
                                            <i class="fa fa-plus"></i> Add Renewal Rate
                                        </a>

                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Critical Issues</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <label>Date</label>

                                        </div>
                                        <div class="col-lg-3">

                                            <label>Clause</label>

                                        </div>
                                        <div class="col-lg-3">

                                            <label>Description</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">

                                    {% for criticalField in leaseInfoForm.leasecriticaltasks %}

                                        <div class="row">
                                            <div class="col-lg-6">
                                                {{ form_widget(criticalField.ctdate, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'form':'leaseInfoForm'}
                                                }) }}
                                            </div>
                                            <div class="col-lg-3">
                                                {{ form_widget(criticalField.ctclause, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'class': 'form-control'}
                                                }) }}
                                            </div>
                                            <div class="col-lg-3">
                                                {{ form_widget(criticalField.ctdescription, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'class': 'form-control'}
                                                }) }}
                                            </div>
                                        </div>
                                        <div class="separator"></div>
                                    {% endfor %}
                                    <a class="btn btn-small btn-success" data-toggle="modal" data-remote="{{ path('_getTasks_id', {'id': leaseInfoForm.leaseid.vars.value}) }}" data-target="#tasksModal{{ leaseInfoForm.leaseid.vars.value }}">
                                        <i class="fa fa-plus"></i> Add Critical Tasks
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endfor %}
</div>

<div class="separator"></div>

    {{ form_widget(leaseInfoForm.save, {
        'attr': {'class': 'btn btn-lg btn-primary', 'onclick':'sendTextToServer();'}
    }) }}

    {{ form_end(leaseInfoForm, {'render_rest': false}) }}


{% for leaseInfoForm in leaseInfoForm.leaseinfo %}
<!-- Modal -->
<div class="modal fade" id="renewalModal{{ leaseInfoForm.leaseid.vars.value }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

</div><!-- /.modal -->
{% endfor %}
{% for leaseInfoForm in leaseInfoForm.leaseinfo %}
    <!-- Modal -->
    <div class="modal fade" id="tasksModal{{ leaseInfoForm.leaseid.vars.value }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

    </div><!-- /.modal -->
{% endfor %}



<script>
    function sendTextToServer(){
        var $tab = $('#tab-content'), $active = $tab.find('.tab-pane.active'), $id = $active.attr('id');
        var $currentId = $active.attr('id');
        alert($active.id.toSource());
    }

</script>

{% endblock %}
