<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <!-- CSS -->
        <link href="{{ asset('bundles/earlslease/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/earlslease/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/earlslease/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/earlslease/css/style.css') }}">
        
        <!-- Scripts -->
        <script src="{{ asset('bundles/earlslease/js/jquery-1.9.0.min.js') }}"></script>
        <script src="{{ asset('bundles/earlslease/js/modernizr-2.6.1.min.js') }}"></script>
        <script src="{{ asset('bundles/earlslease/js/main.js') }}"></script>

        <title>{% block title 'Earls Lease Bundle' %}</title>
    {% endblock %}
</head>
<body>

    <div id="left-menu">
        <div class="search">

        </div>
        
        <div class="wrapmenu">
          
          <div id="logo"><a href="#"><span><img src="{{ asset('bundles/earlslease/images/EarlsLogo.png') }}" alt="" /></span></a></div>
          
          <div id="category">Reports</div>
          
          <ul class="menu">
            <li><a href="{{ path('_summary') }}"><span>Lease Summary</a></span></li>
            <li><a href="{{ path('_leases_byExpiry') }}"><span>Leases By Expiry</a></span></li>
            <li><a href="{{ path('_license_byExpiry') }}"><span>License By Expiry</a></span></li>
          </ul>

          <div id="category">Administration</div>
          
          <ul class="menu">
            <li><a href="{{ path('_storeinformation') }}"><span>Store Information</span></a></li>
            <li><a href="{{ path('_manageArea') }}"><span>Manage Areas</span></a></li>
            <li><a href="{{ path('_manage_tables') }}"><span>Manage Tables</span></a></li>
          </ul>
          

          
          <!-- Footer / start -->
          <footer>
          Earls Lease Web Application
          </footer>
          <!-- Footer / end -->
        </div>
    </div>
    <div id="content-wrapper">
        
            <!-- Header / start -->
            <header>
              
                <a href="#" id="menu" class="ico fl">menu</a>
                <div id="userAccount">
                    Welcome User!  
                      <button class="btn btn-danger btn-small" type="button">Logout</button>
                </div>
              
            </header>
            <!-- Header / end -->
    
            <!-- Content / start -->
            <section>
            {% block body %}{% endblock %}
                <div class="block">
                    {% block content %}

                        
                    {% endblock %}
                </div>   
            </section>
            <!-- Content / end -->
        </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('bundles/earlslease/js/bootstrap.js') }}"></script>
</body>
</html>