<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <title>{% block title 'Earls Lease Bundle' %}</title>
    {% endblock %}
</head>
<body>

    <div id="left-menu">
        <div class="search">
          <form>
            <input value="" placeholder="Search..." />
          </form>
        </div>
        
        <div class="wrapmenu">
          
          <div id="logo"><a href="#"><span><img src="img/EarlsLogo.png" alt="" /></span></a></div>
          
          <div id="category">Activities</div>
          
          <ul class="menu">
            <li><a href="#"><span>Store Information</span></a></li>
            <li><a href="#"><span>Manage Areas</span></a></li>
          </ul>
          
          <div id="category">Manage Tables</div>
          
          <ul class="menu">
            <li><a href="#"><span>Building Types</a></span></li>
            <li><a href="#"><span>Director</a></span></li>
            <li><a href="#"><span>Jurisdiction Area</a></span></li>
            <li><a href="#"><span>Landlord</a></span></li>
            <li><a href="#"><span>Property Manager</a></span></li>
            <li><a href="#"><span>Registered / Record</a></span></li>
            <li><a href="#"><span>Share Type</a></span></li>
            <li><a href="#"><span>Store Classes</a></span></li>
          </ul>
          
          <div id="category">Reports</div>
          
          <ul class="menu">
            <li><a href="#"><span>Lease Summary</a></span></li>
            <li><a href="#"><span>Leases By Expiry</a></span></li>
            <li><a href="#"><span>License By Expiry</a></span></li>
            <li><a href="#"><span>Summary by Share</a></span></li>
            <li><a href="#"><span>Summary by Company</a></span></li>
          </ul>
          
          <!-- Footer / start -->
          <footer>
          Earls Lease and Corporate Web Application
          </footer>
          <!-- Footer / end -->
        </div>
    </div>
    <div id="content-wrapper">
        
            <!-- Header / start -->
            <header>
              
                <a href="#" id="menu" class="ico fl">menu</a>
                <div id="userAccount">
                    Welcome User!  
                      <button class="btn btn-danger btn-small" type="button">Logout</button>
                </div>
              
            </header>
            <!-- Header / end -->
    
            <!-- Content / start -->
            <section>
            {% block body %}{% endblock %}
                <div class="block">
                    {% block content %}

                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
                        <script src="{{ asset('js/bootstrap.js') }}"></script>
                    {% endblock %}
                </div>   
            </section>
            <!-- Content / end -->
        </div>

</body>
</html>

<a href="{{ path('_activities_storeinfo', {'name': 'World'}) }}">Store Information</a>






