{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
	{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">Lease Summary</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box border blue">
                        <div class="box-body big">
                            <h3 class="form-title">Select Store Name:</h3>

                            {{ form_start(storeFinderForm, {'attr': {'role': 'form', 'class': 'form-inline'} }) }}

                            {{ form_errors(storeFinderForm) }}
                            <div class="form-group">
                                {{ form_row(storeFinderForm.restaurant, {'label': 'Nick Name',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            {{ form_widget(storeFinderForm.Go, {'attr': {'class': 'btn btn-info'} }) }}
                            <button class="btn btn-small btn-pink" type="button" onclick="javascript:window.location.href='{{ path('_summary_createreport', {'id': restaurantarray.restaurantid}) }}'">Export to Word Document</button>

                            {{ form_end(storeFinderForm) }}

                        </div>

                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box border blue">
                <div class="box-title">
                    <h4>Summary</h4>
                </div>
                <div class="box-body big">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                    <div class="col-md-6">
                                        <b>{{RestaurantObj.storenickname}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        <b>Store No. {{RestaurantObj.storefilenumber}}</b>
                                    </div>
                            </div>
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="page1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>LANDLORD</b></p>
                                            <p>{{ LandlordObj.landlordname }}</p>
                                            <p>{{ LandlordObj.address }}</p>
                                            <p>{{ ProvinceState.provinceLandlord }}</p>
                                            <p>{{ LandlordObj.postalzip }}</p>
                                            <p><b>ATTENTION: </b>{{ LandlordObj.attention }}</p>
                                            <p><b>PHONE: </b>{{ LandlordObj.phone }}</p>
                                            <p><b>FAX:</b> {{ LandlordObj.fax }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>PROPERTY MANAGER</b></p>
                                            <p>{{ PropertymanagerObj.propertymanagername }}</p>
                                            <p>{{ PropertymanagerObj.address }}</p>
                                            <p>{{ ProvinceState.provinceProperty }}</p>
                                            <p>{{ PropertymanagerObj.postalzip }}</p>
                                            <p><b>ATTENTION: </b> {{ PropertymanagerObj.attention }}</p>
                                            <p><b>PHONE: </b> {{ PropertymanagerObj.phone }}</p>
                                            <p><b>FAX: </b> {{ PropertymanagerObj.fax }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>STORE INFO</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>TENANT:</b> {{ RestaurantObj.tenant }}</p>
                                            <p>{{ RestaurantObj.address }}</p>
                                            <p>{{ restaurant.provinceState }}</p>
                                            <p>{{ RestaurantObj.postalzip }}</p>
                                            <p><b>Legal Description:</b></p>
                                            <p>{{ RestaurantObj.legaldescription }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>OPEN: </b> {{ RestaurantObj.openingdate }}</p>
                                            <br>
                                            <br>
                                            <p><b>Liquor License#: </b> {{ LiquorlicenseObj.liquorlicense }}</p>
                                            <p><b>Business License#: </b> {{ LiquorlicenseObj.businesslicense }}</p>
                                            <p><b>License Expiry: </b> {{ LicenseObj.expirarydate }} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>BUILDING INFO </b></p>
                                            <p><b>Building Type: </b> {{ restaurant.buildingtype }}</p>
                                            <p><b>Store Class: </b> {{ restaurant.storeclass }}</p>
                                            <table style="text-align: center;" cellpadding="5">
                                                <tr>
                                                    <td> No.of</td>
                                                    <td>Seats</td>
                                                    <td>Tables</td>
                                                </tr>
                                                <tr>
                                                    <td>Dining</td>
                                                    <td>{{ RestaurantObj.diningroomseating }}</td>
                                                    <td>{{ RestaurantObj.diningroomtable }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Lounge</td>
                                                    <td> {{ RestaurantObj.loungeseating }}</td>
                                                    <td>{{ RestaurantObj.loungetable }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Patio</td>
                                                    <td> {{ RestaurantObj.patioseating }}</td>
                                                    <td>{{ RestaurantObj.patiotable }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>TOTAL</b></td>
                                                    <td>{{ restaurant.totalSeats }}</td>
                                                    <td>{{ restaurant.totalTables }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>AREA BREAKDOWN </b></p>
                                            <p><b>Square Feet: </b></p>
                                            <table cellpadding="5">
                                                <tr>
                                                    <td>Main:</td>
                                                    <td>{{ leaseObj.areamain }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Uppr/Base:</td>
                                                    <td> {{ leaseObj.areaupperfloor }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Mezzanin:</td>
                                                    <td>{{ leaseObj.areamezzanine }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Patio:</td>
                                                    <td>{{ leaseObj.areapatio }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Other:</td>
                                                    <td>{{ leaseObj.areaother }}</td>
                                                </tr>
                                            </table>
                                            <br>
                                            <p><b>Surveyed:</b> {{ leaseObj.surveyeddescription }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>RISK INFO </b></p>
                                            <p><b>Buidling Type: </b>{{ risk.constructiontypes }}</p>
                                            <p><b>Building Insured by:</b>{{ risk.insuredby }}</p>
                                            <p><b>Rent Abatement:</b>{{ RiskinfoObj.rentabatement }}</p>
                                            <p><b>Exterior Maintenance:</b>{{ RiskinfoObj.exteriormaintenance }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>RENT AND MAINTENANCE</b></p>
                                            <p><b>HVAC Repair: </b>{{ rentAndMaintenance.hvacRepair }}</p>
                                            <p><b>HVAC Replace: </b>{{ rentAndMaintenance.hvacReplace }}</p>
                                            <p><b>Roof Repair: </b> {{ rentAndMaintenance.roofRepair }}</p>
                                            <p><b>Roof Replace: </b> {{ rentAndMaintenance.roofReplace }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>UTILITIES</b></p>
                                    <table cellpadding="8">
                                        <tr>
                                            <td>Utility Type:</td>
                                            <td>Billing By:</td>
                                            <td>Metered?</td>
                                            <td>CAM?:</td>
                                        </tr>
                                        <tr>
                                            <td>Water</td>
                                            <td>  {{ billing.billing1 }}</td>
                                            <td>{{ UtilitiesObj1.ismetered }}</td>
                                            <td> {{ UtilitiesObj1.iscam }}</td>
                                        </tr>
                                        <tr>
                                            <td>Electric</td>
                                            <td>  {{ billing.billing2 }}</td>
                                            <td> {{ UtilitiesObj2.ismetered }}</td>
                                            <td> {{ UtilitiesObj2.iscam }}</td>
                                        </tr>
                                        <tr>
                                            <td>Gas</td>
                                            <td>  {{ billing.billing3 }}</td>
                                            <td>{{ UtilitiesObj3.ismetered }}</td>
                                            <td> {{ UtilitiesObj3.iscam }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <center><p>Page 1 of 2</p></center>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="page2">
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>LEASE INFORMATION </b></p>
                                    <table cellpadding="10">
                                        <tr>
                                            <td>Lease Type:</td>
                                            <td>{{ leaseObj.leasetype }}</td>
                                        </tr>
                                        <tr>
                                            <td>Lease Date:</td>
                                            <td>{{ leaseDates.leasedate }}</td>
                                        </tr>
                                        <tr>
                                            <td>Term:</td>
                                            <td>{{ leaseObj.term }}</td>
                                        </tr>
                                        <tr>
                                            <td>Commencement Date:</td>
                                            <td>{{ leaseDates.commencementdate }}</td>
                                        </tr>
                                        <tr>
                                            <td>Expiry Date:</td>
                                            <td>{{ LicenseObj.expirarydate }}</td>
                                        </tr>
                                        <tr>
                                            <td>Option Time:</td>
                                            <td>{{ leaseObj.optiontime }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>RENEWAL INFORMATION</b></p>
                                            <table cellpadding="10">
                                                <tr>
                                                    <td><b>Renewal Option Date:</b></td>
                                                    <td>{{ leaseDates.renewalOptionDate }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Renewal Term: </b></td>
                                                    <td>{{ leaseObj.renewalterms }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>RENEWAL RATE</b></p>
                                            <table cellpadding="10">
                                                {% for Renewal in RenewalObj %}
                                                        <tr>
                                                            <td></td>
                                                            <td>{{ Renewal.term }}</td>
                                                            <td><b>Exercised?</b></td>
                                                            <td>{{ Renewal.exercised }}</td>
                                                        </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>REPORT INFORMATION</b></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>Reporting Period: </b> {{ LeaseReport.periodType }}</p>
                                            <p><b>Reporting Due Date: </b> {{ LeaseReport.dueDate }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>is Certified? </b> {{ LeasereportsinfoObj.iscertified }}</p>
                                            <p><b>is Audit </b> {{ LeasereportsinfoObj.isaudit }}</p>
                                            <p><b>is Certified Sales? </b> {{ LeasereportsinfoObj.iscertifiedsales }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>SPECIAL TERMS AND CONDITION</b></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><b>Exclusive Use: </b> {{ leaseObj.exclusiveuse }}</p>
                                            <p><b>TI Allowance: </b> {{ leaseObj.tiallowance }}</p>
                                            <p><b>Reporting Period: </b> {{ LeaseReport.periodType }}</p>
                                            <p><b>Radius Clause: </b> {{ leaseObj.radiusclause }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><b>Indemnifier: </b> {{ leaseObj.indemnifier }}</p>
                                            <p><b>Indemnity Period: </b> {{ leaseObj.indemnityperiod }}</p>
                                            <p><b>Indemnity Expiry: </b> {{ leaseObj.indemnityexpiry }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>OTHER: </b> {{ leaseObj.otherdescription }}</p>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>CRITICAL ISSUES </b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table cellpadding="10">
                                        <tr>
                                            <td>Date:</td>
                                            <td>Clause</td>
                                            <td>Description</td>
                                        </tr>
                                        {% for LeaseCriticalTask in LeasecriticaltaskObj %}
                                            <tr>
                                                <td>{{ LeaseCriticalTask.ctdate }}</td>
                                                <td>{{ LeaseCriticalTask.ctclause }}</td>
                                                <td>{{ LeaseCriticalTask.ctdescription }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <center><p>Page 2 of 2</p></center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pager">
                        <li class="previous"><a href="#page1" data-toggle="tab">Previous</a></li>
                        <li class="next"><a href="#page2" data-toggle="tab">Next</a></li>
                    </ul>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}
