{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
    <div class="row">
    <div class="col-md-12">
    <div class="box border" id="formWizard">
    <div class="box-title">
        <h4>
            ADD A STORE <span class="stepHeader">Step 1 of 3</span>
        </h4>
    </div>
    <div class="box-body form">

    {{ form_start(addStoreForm, {
    'attr': {
    'class': 'form-horizontal',
    'id':'wizForm',
    'action': '#',
    }
    }) }}
    <div class="wizard-form">
    <div class="wizard-content">
    <ul class="nav nav-pills nav-justified steps">
        <li>
            <a href="#store" data-toggle="tab" class="wiz-step">
                <span class="step-number">1</span>
                <span class="step-name">CREATE A STORE</span>
            </a>
        </li>
        <li>
            <a href="#lease" data-toggle="tab" class="wiz-step">
                <span class="step-number">2</span>
                <span class="step-name">ADD A LEASE</span>
            </a>
        </li>
        <li>
            <a href="#area" data-toggle="tab" class="wiz-step">
                <span class="step-number">3</span>
                <span class="step-name">ADD THE AREAS</span>
            </a>
        </li>
    </ul>
    <div id="bar" class="progress progress-striped progress-sm active" role="progressbar">
        <div class="progress-bar progress-bar-warning"></div>
    </div>
    <div class="tab-content">
    <div id="warning"></div>


    <!-- ******************************* STORE INFORMATION ************************ -->

    <div class="tab-pane active" id="store">

    <div class="separator"></div>

    <!-- FORMS -->

    <div class="row">
    <div class="col-md-6">
        <div class="box border blue">
            <div class="box-title">
                <h4>Restaurant Info</h4>
            </div>
            <div class="box-body big">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Store File No.</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.storefilenumber, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.storefilenumber) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Store Nick Name</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.storenickname, {'label': 'Store Nick Name',
                        'label_attr': {'class': 'control-label'},
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.storenickname) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Landlord</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.landlordid, {'label': 'Landlord',
                        'label_attr': {'class': 'control-label'},
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.landlordid) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Property Manager</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.propertymanagerid, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.propertymanagerid) }}

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tenant</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.corporateid, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.corporateid) }}

                    </div>
                </div>
                {#<div class="form-group">
                    <label class="col-sm-3 control-label">Tenant</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.tenant, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.tenant) }}

                    </div>
                </div>#}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Address</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.address, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.address) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.city, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.city) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Province/State</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.provincestateid, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.provincestateid) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Postal/Zip</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.postalzip, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.postalzip) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box border blue">
            <div class="box-title">
                <h4>Cont. Info</h4>
            </div>
            <div class="box-body big">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Opening Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.openingdate, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.openingdate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Legal Description</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.legaldescription, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.legaldescription) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Royalty Fee</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.royaltyfee, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.royaltyfee) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Advertising Fee</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.advertisingfee, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.advertisingfee) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Regional Management Fee</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.regionalmngtfee, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.regionalmngtfee) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comments</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.comments, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.comments) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Open?</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.restaurantstate, {
                        'attr': {'class': 'checkbox', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.restaurantstate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Closing Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.closedate, {
                        'attr': {'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.closedate) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <div class="separator"></div>

    <div class="row">
    <div class="col-md-4">
        <div class="box border blue">
            <div class="box-title">
                <h4>Cont. Info</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Department #</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.departmentnumber, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.departmentnumber) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Building Type</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.buildingtype, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.buildingtype) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Store Class</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.storeclassid, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.storeclassid) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Liquor License</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.liquorlicense.liquorlicense, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.liquorlicense.liquorlicense) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Business License</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.liquorlicense.businesslicense, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.liquorlicense.businesslicense) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Year Built</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.yearbuilt, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.yearbuilt) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box border default">
            <div class="box-title">
                <h4>Furniture</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">No. of</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                <label>Seats</label>

                            </div>
                            <div class="col-lg-6">

                                <label>Tables</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Din Room</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.diningroomseating, {
                                'attr': {'class': 'form-control', 'form':'wizForm'}
                                }) }}
                                {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.diningroomseating) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.diningroomtable, {
                                'attr': {'class': 'form-control', 'form':'wizForm'}
                                }) }}
                                {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.diningroomtable) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lounge</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.loungeseating, {
                                'attr': {'class': 'form-control', 'form':'wizForm'}
                                }) }}
                                {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.loungeseating) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.loungetable, {
                                'attr': {'class': 'form-control', 'form':'wizForm'}
                                }) }}
                                {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.loungetable) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Patio</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.patioseating, {
                                'attr': {'class': 'form-control', 'form':'wizForm'}
                                }) }}
                                {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.patioseating) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_widget(addStoreForm.storeInfoForm.restaurantInfo.patiotable, {
                                'attr': {'class': 'form-control', 'form':'wizForm'}
                                }) }}
                                {{ form_errors(addStoreForm.storeInfoForm.restaurantInfo.patiotable) }}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box border green">
            <div class="box-title">
                <h4>License Information</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Start Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.licenseinfo.startdate, {
                        'attr': {'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.licenseinfo.startdate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Expiry Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.licenseinfo.expirarydate, {
                        'attr': {'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.licenseinfo.expirarydate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">License Agreement?</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.licenseinfo.licenseagreement, {
                        'attr': {'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.licenseinfo.licenseagreement) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comments</label>

                    <div class="col-sm-9">

                        {{ form_widget(addStoreForm.storeInfoForm.licenseinfo.comments, {
                        'attr': {'class': 'form-control', 'form':'wizForm'}
                        }) }}
                        {{ form_errors(addStoreForm.storeInfoForm.licenseinfo.comments) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="separator"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Risk</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Construction Type</th>
                            <th>Building Insured By</th>
                            <th>Rent Abatement</th>
                            <th>Exterior Maintenance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.riskinfo.constructionid, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.riskinfo.insuredby, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.riskinfo.rentabatement, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.riskinfo.exteriormaintenance, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box border inverse">
                <div class="box-title">
                    <h4>Rent and Maintenance</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>HVAC Repair</th>
                            <th>HVAC Replace</th>
                            <th>Roof Repair</th>
                            <th>Roof Replace</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.rentandmaintenance.hvacrepair, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.rentandmaintenance.hvacreplace, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.rentandmaintenance.roofrepair, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(addStoreForm.storeInfoForm.rentandmaintenance.roofreplace, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- *********  this area is for Utilities table data ********** -->
            <div class="box border red">
                <div class="box-title">
                    <h4>Utilities</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Utility Type</th>
                            <th>Billed By</th>
                            <th>Is Metered?</th>
                            <th>Is CAM?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities1.utilitytypeid, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities1.billingby, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities1.ismetered, {
                                'attr': {'class': 'checkbox',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities1.iscam, {
                                'attr': {'class': 'checkbox',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities2.utilitytypeid, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities2.billingby, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities2.ismetered, {
                                'attr': {'class': 'checkbox',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities2.iscam, {
                                'attr': {'class': 'checkbox',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities3.utilitytypeid, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities3.billingby, {
                                'attr': {'class': 'form-control',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities3.ismetered, {
                                'attr': {'class': 'checkbox',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                            <td>{{ form_widget(addStoreForm.storeInfoForm.utilities3.iscam, {
                                'attr': {'class': 'checkbox',
                                'form': 'wizForm'
                                }
                                }) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    </div>

    <!-- ********************* ENDS RESTAURANT INFORMATION ********************************* -->
    <div class="tab-pane" id="lease">
    <div class="row">
        <div class="col-md-6">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Lease Info</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Lease Type:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.leasetype, {'label': 'Lease Type',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.leasetype) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Lease Date:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.leasedate, {'label': 'Lease Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'wizForm'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.leasedate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Term:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.term, {'label': 'Term',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.term) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Commencement Date:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.commencementdate, {'label': 'Commencement Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'wizForm'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.commencementdate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Expiry Date:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.expirydate, {'label': 'Expiry Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'wizForm'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.expirydate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Option Time:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.optiontime, {'label': 'Option Time',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.optiontime) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Show in Lease Rpt</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.showinlease, {'label': 'Show in Lease Rpt',
                            'label_attr': {'class': 'control-label'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.showinlease) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box border green">
                <div class="box-title">
                    <h4>Special Terms and Condition</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Exclusive Use:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.exclusiveuse, {'label': 'Exclusive Use',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.exclusiveuse) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">TI Allowance:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.tiallowance, {'label': 'TI Allowance',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.tiallowance) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Radius Clause:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.radiusclause, {'label': 'Radius Clause',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.radiusclause) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indemnifier:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.indemnifier, {'label': 'Indemnifier',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.indemnifier) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indemnity Period:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.indemnityperiod, {'label': 'Indemnity Period',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.indemnityperiod) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indemnity Expiry:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.indemnityexpiry, {'label': 'Indmenity Expiry',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'wizForm','class': 'form-control' }
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.indemnityexpiry) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Other:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.otherdescription, {'label': 'Other',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.otherdescription) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Square Feet</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Main:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.areamain, {'label': 'Main',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.areamain) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Upper Floor/Basement:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.areaupperfloor, {'label': 'Upper Floor/Basement',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.areaupperfloor) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mezzanine:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.areamezzanine, {'label': 'Mezzanine',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.areamezzanine) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Patio:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.areapatio, {'label': 'Patio',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.areapatio) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Other:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.areaother, {'label': 'Other',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.areaother) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Surveyed:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.surveyeddescription, {'label': 'Surveyed',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.surveyeddescription) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box border green">
                <div class="box-title">
                    <h4>Lease Report Info</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reporting Period:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leasereportinfo.reporttypeid, {'label': 'Reporting Period',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leasereportinfo.reporttypeid) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Certified Sales?</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leasereportinfo.iscertifiedsales, {'label': 'Certified Sales',
                            'label_attr': {'class': 'control-label'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leasereportinfo.iscertifiedsales) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due Date:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leasereportinfo.duedate, {'label': 'Due Date',
                            'label_attr': {'class': 'control-label'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leasereportinfo.duedate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Is Audit?</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leasereportinfo.isaudit, {'label': 'Is Audit',
                            'label_attr': {'class': 'control-label'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leasereportinfo.isaudit) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Is Certified?</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leasereportinfo.iscertified, {'label': 'Is Certified',
                            'label_attr': {'class': 'control-label'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leasereportinfo.iscertified) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Renewal Information</h4>
                </div>
                <div class="box-body big">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Terms:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.renewalterms, {'label': 'Renewal Terms',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.renewalterms) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Option Date:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.renewaloptiondate, {'label': 'Renewal Option Date',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'form':'wizForm'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.renewaloptiondate) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Renewal Comments:</label>

                        <div class="col-sm-9">

                            {{ form_widget(addStoreForm.leaseInfoForm.leaseinfo.renewalcomments, {'label': 'Renewal Comments',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_errors(addStoreForm.leaseInfoForm.leaseinfo.renewalcomments) }}

                        </div>
                    </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Renewal Rate</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <label>Term</label>

                                        </div>
                                        <div class="col-lg-2">

                                            <label>Exercised</label>

                                        </div>
                                        <div class="col-lg-2">

                                            <label>Show?</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9">
                                        <div id="renewal-fields-list" data-prototype="{% filter escape %}{% include 'EarlsLeaseBundle:LeaseInformation:renewals.html.twig' with {'renewalform': addStoreForm.leaseInfoForm.renewals.vars.prototype} %}{% endfilter %}">
                                        {% for renewalField in addStoreForm.leaseInfoForm.renewals %}
                                            <div class="newRenewalForm">
                                                <div class="col-lg-6">
                                                    {{ form_widget(renewalField.term, {'label': '',
                                                    'label_attr': {'class': 'control-label'},
                                                    'attr': {'class': 'form-control'}
                                                    }) }}
                                                    {{ form_errors(renewalField.term) }}
                                                </div>
                                                <div class="col-lg-2">
                                                    {{ form_widget(renewalField.exercised, {'label': '',
                                                    'label_attr': {'class': 'control-label'}
                                                    }) }}
                                                </div>
                                                <div class="col-lg-2">
                                                    {{ form_widget(renewalField.showinleasereport, {'label': '',
                                                    'label_attr': {'class': 'control-label'}
                                                    }) }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Critical Issues</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-lg-3">

                                            <label>Date</label>

                                        </div>
                                        <div class="col-lg-3">

                                            <label>Clause</label>

                                        </div>
                                        <div class="col-lg-4">

                                            <label>Description</label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <div id="task-fields-list" data-prototype="{% filter escape %}{% include 'EarlsLeaseBundle:LeaseInformation:tasks.html.twig' with {'taskForm': addStoreForm.leaseInfoForm.leasecriticaltasks.vars.prototype} %}{% endfilter %}">
                                    {% for criticalField in addStoreForm.leaseInfoForm.leasecriticaltasks %}
                                        <div class="newTaskForm">
                                            <div class="col-lg-3">
                                                {{ form_widget(criticalField.ctdate, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'form':'leaseInfoForm'}
                                                }) }}
                                                {{ form_errors(criticalField.ctdate) }}
                                            </div>
                                            <div class="col-lg-3">
                                                {{ form_widget(criticalField.ctclause, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'class': 'form-control'}
                                                }) }}
                                                {{ form_errors(criticalField.ctclause) }}
                                            </div>
                                            <div class="col-lg-4">
                                                {{ form_widget(criticalField.ctdescription, {'label': '',
                                                'label_attr': {'class': 'control-label'},
                                                'attr': {'class': 'form-control'}
                                                }) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- **************************** ENDS LEASE INFORMATION ************************* -->
    <div class="tab-pane" id="area">
    <div class="row">
        <div class="col-md-12">
            <div class="box border blue">
                <div class="box-title">
                    <h4>Square Footage</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Entry</th>
                            <th>Bar</th>
                            <th>Lounge</th>
                            <th>Dining</th>
                            <th>Washrooms</th>
                            <th>BOH</th>
                            <th>Patio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.entry, {'label': 'Entry',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.entry) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.bar, {'label': 'Bar',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.bar) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.lounge, {'label': 'Lounge',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.lounge) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.dining, {'label': 'Dining',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.dining) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.washrooms, {'label': 'Washrooms',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.washrooms) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.boh, {'label': 'BOH',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.boh) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area1.patio, {'label': 'Patio',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area1.patio) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="box border blue">
                <div class="box-title">
                    <h4>Tables</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Entry</th>
                            <th>Bar</th>
                            <th>Lounge</th>
                            <th>Dining</th>
                            <th>Washrooms</th>
                            <th>BOH</th>
                            <th>Patio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.entry, {'label': 'Entry',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.entry) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.bar, {'label': 'Bar',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.bar) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.lounge, {'label': 'Lounge',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.lounge) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.dining, {'label': 'Dining',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.dining) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.washrooms, {'label': 'Washrooms',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.washrooms) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.boh, {'label': 'BOH',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.boh) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area2.patio, {'label': 'Patio',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area2.patio) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="box border blue">
                <div class="box-title">
                    <h4>Seats</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Entry</th>
                            <th>Bar</th>
                            <th>Lounge</th>
                            <th>Dining</th>
                            <th>Washrooms</th>
                            <th>BOH</th>
                            <th>Patio</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.entry, {'label': 'Entry',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.entry) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.bar, {'label': 'Bar',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.bar) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.lounge, {'label': 'Lounge',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.lounge) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.dining, {'label': 'Dining',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.dining) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.washrooms, {'label': 'Washrooms',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.washrooms) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.boh, {'label': 'BOH',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.boh) }}
                            </td>
                            <td>
                                {{ form_widget(addStoreForm.manageAreaForm.area3.patio, {'label': 'Patio',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                                {{ form_errors(addStoreForm.manageAreaForm.area3.patio) }}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    </div>

    <!-- **************************   ENDS AREAS INFO **************************** -->

    </div>
    </div>
    <div class="wizard-buttons">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-3 col-md-9">
                    <a href="javascript:;" class="btn btn-default prevBtn">
                        <i class="fa fa-arrow-circle-left"></i> Back
                    </a>
                    <a href="javascript:;" class="btn btn-primary nextBtn">
                        Continue <i class="fa fa-arrow-circle-right"></i>
                    </a>
                    <a href="javascript:;" class="btn btn-success submitBtn">
                        {{ form_widget(addStoreForm.Add, {
                            'attr': {'form': 'wizForm'}
                        }) }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{ form_widget(addStoreForm._token) }}
    {{ form_end(addStoreForm, {'render_rest': false}) }}
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/earlslease/js/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/earlslease/js/uniform/jquery.uniform.min.js') }}"></script>
    <script src="{{ asset('bundles/earlslease/js/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>
    <script src="{{ asset('bundles/earlslease/js/jquery-validate/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/earlslease/js/jquery-validate/additional-methods.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/bootbox/bootbox.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/jQuery-Cookie/jquery.cookie.min.js') }}"></script>


    <script src="{{ asset('bundles/earlslease/js/bootstrap-wizard/form-wizard.min.js') }}"></script>

    <script>
     var $addWarning = $('<div class="alert alert-danger"><a class="close" aria-hidden="true" href="#" data-dismiss="alert"></a>Your form has errors. Please correct them to proceed.</div>');
    var $collectionRenewal;
    var $collectionTask;

    // setup an "add a tag" link
    var $addRenewalLink = $('<a href="#" class="btn btn-small btn-success add_tag_link"><i class="fa fa-plus"></i> Add Renewal Rate </a>');
    var $addTaskLink = $('<a href="#" class="btn btn-small btn-success add_tag_link"><i class="fa fa-plus"></i> Add Critical Task </a>');
    var $newRenewalLink = $('<div id="leaseRenewal"></div>').append($addRenewalLink);
    var $newTaskLink = $('<div id="leaseTask"></div>').append($addTaskLink);

        jQuery(document).ready(function(){
            $('span.help-inline').parent().addClass('has-error');
        $('span.help-inline').css('color','red');
        if ($('span.help-inline').length) {
                    $('div#warning').append($addWarning);
        }

        App.setPage("wizards_validations");
        App.init();
        FormWizard.init();

                // Get the ul that holds the collection of renewals/task
        $collectionRenewal = $('div#renewal-fields-list');
        $collectionTask = $('div#task-fields-list');

        // add the "add a tag" anchor and li to the tags ul
        $collectionRenewal.append($newRenewalLink);
        $collectionTask.append($newTaskLink);

        // add a delete link to all of the existing tag form li elements
        $collectionRenewal.find('.newRenewalForm').each(function() {
            addRenewalFormDeleteLink($(this));
        });
        $collectionTask.find('.newTaskForm').each(function() {
            addTaskFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionRenewal.data('index', $collectionRenewal.find(':text').length);
        $collectionTask.data('index', $collectionTask.find(':text').length);

        $addRenewalLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addRenewalForm($collectionRenewal, $newRenewalLink);
        });

        $addTaskLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTaskForm($collectionTask, $newTaskLink);
        });

    });

    function addRenewalForm($collectionRenewal, $newRenewalLink) {
        // Get the data-prototype explained earlier
        var prototype = $collectionRenewal.data('prototype');

        // get the new index
        var index = $collectionRenewal.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionRenewal.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div id="newRenewalForm"></div>').append(newForm);
        //$newFormLi.append($('<div class="separator"></div>'));
        $newRenewalLink.before($newFormLi);
        addRenewalFormDeleteLink($newFormLi);
    }

        function addTaskForm($collectionTask, $newTaskLink) {
        // Get the data-prototype explained earlier
        var prototype = $collectionTask.data('prototype');

        // get the new index
        var index = $collectionTask.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionTask.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div id="newTaskForm"></div>').append(newForm);
        //$newFormLi.append($('<div class="separator"></div>'));
        $newTaskLink.before($newFormLi);
        addTaskFormDeleteLink($newFormLi);
    }

    function addRenewalFormDeleteLink($renewalForm) {
    var $removeRenewal = $('<a href="#" class="btn btn-small btn-danger" style="color:white;"><i class="fa fa-times"></i> DELETE</a><div class="separator"></div>');

    $renewalForm.append($removeRenewal);

    $removeRenewal.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $renewalForm.remove();
    });
    }

    function addTaskFormDeleteLink($taskForm) {
    var $removeTask = $('<a href="#" class="btn btn-small btn-danger" style="color:white;"><i class="fa fa-times"></i> DELETE</a><div class="separator"></div>');
    //var $deleteDiv = $('<div id="deleteRenewal"></div>').append($removeFormA);
    $taskForm.append($removeTask);

    //$('deleteRenewal').append($removeFormA);

    $removeTask.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $taskForm.remove();
    });
    }
</script>
{% endblock %}