{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION') %}

    <!-- CONTENT HEADER -->

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">Store Information</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- /CONTENT HEADER -->
    <!-- RESTAURANT FINDER FORM -->

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="box border blue">
                        <div class="box-body big">
                            <h3 class="form-title">Find Store By Nick Name</h3>

                            {{ form_start(storeFinderForm, {'attr': {'role': 'form', 'class': 'form-inline'} }) }}

                            {{ form_errors(storeFinderForm) }}
                            <div class="form-group">
                                {{ form_row(storeFinderForm.restaurant, {'label': 'Nick Name',
                                'label_attr': {'class': 'sr-only'},
                                'attr': {'class': 'form-control'}
                                }) }}
                            </div>
                            {{ form_widget(storeFinderForm.Go, {'attr': {'class': 'btn btn-info'} }) }}

                            <button class="btn btn-small btn-success" type="button"
                                    onclick="javascript:window.location.href='{{ path('_addStore') }}'">
                                <i class="fa fa-plus"></i>
                                Add a Store
                            </button>

                            {{ form_end(storeFinderForm) }}

                            <div>
                                <button class="btn btn-small btn-pink" type="button"
                                        onclick="javascript:window.location.href='{{ path('_leaseinformation', {'id': storeInfoForm.restaurantId.vars.value}) }}'">
                                    Lease Information
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <!-- /RESTAURANT FINDER FORM -->

    <div class="separator"></div>

    <div id="warning"></div>
    <!-- FORMS -->

    {{ form_start(storeInfoForm, {
    'attr': {
    'role': 'form',
    'class': 'form-horizontal',
    'id':'storeinfo'
    }
    }) }}

    <div class="row">
    <div class="col-md-6">
        <div class="box border blue">
            <div class="box-title">
                <h4>Restaurant Info</h4>
            </div>
            <div class="box-body big">


                {{ form_errors(storeInfoForm) }}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Store File No.</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.storefilenumber, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.storefilenumber) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Store Nick Name</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.storenickname, {'label': 'Store Nick Name',
                        'label_attr': {'class': 'control-label'},
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.storenickname) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Landlord</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.landlordid, {
                        'id' : 'ms6', 'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.landlordid) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Property Manager</label>


                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.propertymanagerid, {
                           'id' : 'ms7', 'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.propertymanagerid) }}

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tenant</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.corporateid, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.corporateid) }}

                    </div>
                </div>
                {#<div class="form-group">
                    <label class="col-sm-3 control-label">Tenant</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.tenant, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.tenant) }}

                    </div>
                </div>#}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Address</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.address, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.address) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">City</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.city, {
                        'id' : 'ms8', 'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.city) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Province/State</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.provincestateid, {
                            'id' : 'ms9', 'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.provincestateid) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Postal/Zip</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.postalzip, {
                        'attr': {'class': 'form-control'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.postalzip) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box border blue">
            <div class="box-title">
                <h4>Cont. Info</h4>
            </div>
            <div class="box-body big">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Opening Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.openingdate, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.openingdate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Legal Description</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.legaldescription, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.legaldescription) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Royalty Fee</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.royaltyfee, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.royaltyfee) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Advertising Fee</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.advertisingfee, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.advertisingfee) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Regional Management Fee</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.regionalmngtfee, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.regionalmngtfee) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comments</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.comments, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.comments) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Open?</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.restaurantstate, {
                        'attr': {'class': 'checkbox', 'form':'storeinfo'}
                        }) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Closing Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.closedate, {
                        'attr': {'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.closedate) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <div class="separator"></div>

    <div class="row">
    <div class="col-md-4">
        <div class="box border blue">
            <div class="box-title">
                <h4>Cont. Info</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Department #</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.departmentnumber, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.departmentnumber) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Building Type</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.buildingtype, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.buildingtype) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Store Class</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.storeclassid, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.storeclassid) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Liquor License</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.liquorlicense.liquorlicense, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Business License</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.liquorlicense.businesslicense, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Year Built</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.restaurantInfo.yearbuilt, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.restaurantInfo.yearbuilt) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box border default">
            <div class="box-title">
                <h4>Furniture</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">No. of</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                <label>Seats</label>

                            </div>
                            <div class="col-lg-6">

                                <label>Tables</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Din Room</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                {{ form_widget(storeInfoForm.restaurantInfo.diningroomseating, {
                                'attr': {'class': 'form-control', 'form':'storeinfo'}
                                }) }}
                                {{ form_errors(storeInfoForm.restaurantInfo.diningroomseating) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_widget(storeInfoForm.restaurantInfo.diningroomtable, {
                                'attr': {'class': 'form-control', 'form':'storeinfo'}
                                }) }}
                                {{ form_errors(storeInfoForm.restaurantInfo.diningroomtable) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lounge</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                {{ form_widget(storeInfoForm.restaurantInfo.loungeseating, {
                                'attr': {'class': 'form-control', 'form':'storeinfo'}
                                }) }}
                                {{ form_errors(storeInfoForm.restaurantInfo.loungeseating) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_widget(storeInfoForm.restaurantInfo.loungetable, {
                                'attr': {'class': 'form-control', 'form':'storeinfo'}
                                }) }}
                                {{ form_errors(storeInfoForm.restaurantInfo.loungetable) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Patio</label>

                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-lg-6">

                                {{ form_widget(storeInfoForm.restaurantInfo.patioseating, {
                                'attr': {'class': 'form-control', 'form':'storeinfo'}
                                }) }}
                                {{ form_errors(storeInfoForm.restaurantInfo.patioseating) }}

                            </div>
                            <div class="col-lg-6">

                                {{ form_widget(storeInfoForm.restaurantInfo.patiotable, {
                                'attr': {'class': 'form-control', 'form':'storeinfo'}
                                }) }}
                                {{ form_errors(storeInfoForm.restaurantInfo.patiotable) }}


                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="form-group">#}
                    {#<label class="col-sm-3 control-label">Total</label>#}

                    {#<div class="col-sm-9">#}
                        {#<div class="row">#}
                            {#<div class="col-lg-6">#}

                                {#<label>{{ totals.totalSeats }}</label>#}

                            {#</div>#}
                            {#<div class="col-lg-6">#}

                                {#<label>{{ totals.totalTables }}</label>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box border green">
            <div class="box-title">
                <h4>License Information</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Start Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.licenseinfo.startdate, {
                        'attr': {'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.licenseinfo.startdate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Expiry Date</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.licenseinfo.expirarydate, {
                        'attr': {'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.licenseinfo.expirarydate) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">License Agreement?</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.licenseinfo.licenseagreement, {
                        'attr': {'form':'storeinfo'}
                        }) }}

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Comments</label>

                    <div class="col-sm-9">

                        {{ form_widget(storeInfoForm.licenseinfo.comments, {
                        'attr': {'class': 'form-control', 'form':'storeinfo'}
                        }) }}
                        {{ form_errors(storeInfoForm.licenseinfo.comments) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="separator"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="box border orange">
                <div class="box-title">
                    <h4>Risk</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Construction Type</th>
                            <th>Building Insured By</th>
                            <th>Rent Abatement</th>
                            <th>Exterior Maintenance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                {{ form_widget(storeInfoForm.riskinfo.constructionid, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(storeInfoForm.riskinfo.insuredby, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(storeInfoForm.riskinfo.rentabatement, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}
                                {{ form_errors(storeInfoForm.riskinfo.rentabatement) }}

                            </td>
                            <td>

                                {{ form_widget(storeInfoForm.riskinfo.exteriormaintenance, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}
                                {{ form_errors(storeInfoForm.riskinfo.exteriormaintenance) }}

                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box border inverse">
                <div class="box-title">
                    <h4>Rent and Maintenance</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>HVAC Repair</th>
                            <th>HVAC Replace</th>
                            <th>Roof Repare</th>
                            <th>Roof Replace</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                {{ form_widget(storeInfoForm.rentandmaintenance.hvacrepair, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(storeInfoForm.rentandmaintenance.hvacreplace, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(storeInfoForm.rentandmaintenance.roofrepair, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}

                            </td>
                            <td>

                                {{ form_widget(storeInfoForm.rentandmaintenance.roofreplace, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- *********  this area is for Utilities table data ********** -->
            <div class="box border red">
                <div class="box-title">
                    <h4>Utilities</h4>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Utility Type</th>
                            <th>Billed By</th>
                            <th>Is Metered?</th>
                            <th>Is CAM?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_widget(storeInfoForm.utilities1.utilitytypeid, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities1.billingby, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities1.ismetered, {
                                'attr': {'class': 'checkbox',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities1.iscam, {
                                'attr': {'class': 'checkbox',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(storeInfoForm.utilities2.utilitytypeid, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities2.billingby, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities2.ismetered, {
                                'attr': {'class': 'checkbox',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities2.iscam, {
                                'attr': {'class': 'checkbox',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form_widget(storeInfoForm.utilities3.utilitytypeid, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities3.billingby, {
                                'attr': {'class': 'form-control',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities3.ismetered, {
                                'attr': {'class': 'checkbox',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                            <td>{{ form_widget(storeInfoForm.utilities3.iscam, {
                                'attr': {'class': 'checkbox',
                                'form': 'storeinfo'
                                }
                                }) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="row">
        {{ form_widget(storeInfoForm.Update, {
        'attr': {'class': 'btn btn-lg btn-primary',
        'form': 'storeinfo'}
        }) }}
    </div>


    {#{{ form_widget(addStoreForm._token) }}
    {{ form_end(addStoreForm, {'render_rest': false}) }}#}
    {{ form_end(storeInfoForm) }}


{% endblock %}
{% block javascript %}
    <script>
     var $addWarning = $('<div class="alert alert-danger"><a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>Your form has errors. Please correct them to proceed.</div>');
            jQuery(document).ready(function() {
                $('span.help-inline').parent().addClass('has-error');
                $('span.help-inline').css('color','red');
                if ($('span.help-inline').length) {
                    $('div#warning').append($addWarning);
                }
                $('#restaurantFinder_restaurant').focus();
                App.setPage("elements");  //Set current page
                App.init(); //Initialise plugins and elements
            });
    </script>
{% endblock %}