{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
	{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<p>This is Storeinformation.php  --->  index.html.twig</p>

    <h1>Store Information</h1>



    {# <form action="{{ path('_storeinformation') }}" method="post" {{ form_enctype(storeFinderForm) }} class="storeFinder">
        {{ form_errors(storeFinderForm) }}

        {{ form_row(storeFinderForm.City) }}



        {{ form_rest(storeFinderForm) }}

        <input type="submit" value="Go" />
    </form> #}

    {{ form(storeFinderForm) }}


    {{ form(storeInfoForm) }}

{% endblock %}
