{% extends "EarlsLeaseBundle::layout.html.twig" %}

{% block body %}
	{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">Manage Tables</h3>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="box border blue">
            <div class="box-body big">
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#landlordPM" data-toggle="tab">Landlord and Property Manager</a></li>
                    <li><a href="#buildingtypes" data-toggle="tab">Building Types</a></li>
                    <li><a href="#storeclasses" data-toggle="tab">Store Classes</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="landlordPM">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                        <div class="box border" style="margin-top: 30px;">
                            <div class="box-title">
                                <h4>Landlords and Property Manager Table</h4>
                                <a data-toggle="modal" class="btn btn-small btn-success" href="{{ path('_manage_tables_landlord_add') }}" data-target="#landlordPMModalAdd">
                                    <i class="fa fa-plus"></i> ADD
                                </a>
                            </div>
                            <div class="box-body">
                                <table id="datatableLandlord" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for landlordPM in allLandlordAndPropManager %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td> {{ landlordPM.name }}</td>
                                        <td>{{ landlordPM.address }}</td>
                                        <td><a data-toggle="modal" class="btn btn-small btn-warning" href="{{ path('_manage_tables_landlord_get_id', {'id': landlordPM.landlordpropertymanid }) }}" data-target="#landlordPMModal{{ landlordPM.landlordpropertymanid }}">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                        </td>
                                        <td><a class="btn btn-small btn-danger" href="{{ path('_manage_tables_landlord_delete_id', {'id': landlordPM.landlordpropertymanid }) }}">
                                                <i class="fa fa-times-circle"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                        <div class="modal fade in" id="landlordPMModal{{ landlordPM.landlordpropertymanid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                        </div><!-- /.modal -->
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="tab-pane fade" id="buildingtypes">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="box border" style="margin-top: 30px;">
                                    <div class="box-title">
                                        <h4>Building Types Table</h4>
                                        <a data-toggle="modal" class="btn btn-small btn-success" href="{{ path('_manage_tables_buildingtypes_add') }}" data-target="#buildingTypessModalAdd">
                                            <i class="fa fa-plus"></i>
                                            ADD
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        <table id="datatableBuildingTypes" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Building Types</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for buildingtypes in allBuildingtypes %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td> {{ buildingtypes.buildingtypes }}</td>
                                                        <td> <a data-toggle="modal" class="btn btn-small btn-warning" href="{{ path('_manage_tables_buildingTypes_get_id', {'id': buildingtypes.buildingtypeid }) }}" data-target="#buildingtypeModal{{ buildingtypes.buildingtypeid }}">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </a>
                                                        </td>
                                                        <td><a class="btn btn-small btn-danger" href="{{ path('_manage_tables_buildingtypes_delete_id', {'id': buildingtypes.buildingtypeid }) }}">
                                                                <i class="fa fa-times-circle"></i> Delete
                                                            </a>
                                                        </td>
                                                        <!-- Modal -->
                                                    <div class="modal fade" id="buildingtypeModal{{ buildingtypes.buildingtypeid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

                                                    </div><!-- /.modal -->
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="storeclasses">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="box border" style="margin-top: 30px;">
                                    <div class="box-title">
                                        <h4>Store Classes Table</h4>
                                        <a data-toggle="modal" class="btn btn-small btn-success" href="{{ path('_manage_tables_storeClasses_add') }}" data-target="#storeClassModalAdd">
                                            <i class="fa fa-plus"></i> ADD
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        <table id="datatableStoreClass" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Store Classes</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for storeclasses in allStoreclasses %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td> {{ storeclasses.storeclass }}</td>
                                                    <td>
                                                        <a data-toggle="modal" class="btn btn-small btn-warning" href="{{ path('_manage_tables_storeclasses_get_id', {'id': storeclasses.storeclassid }) }}" data-target="#storeclassModal{{ storeclasses.storeclassid }}">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </a>
                                                    </td>
                                                    <td><a class="btn btn-small btn-danger" href="{{ path('_manage_tables_storeClasses_delete_id', {'id': storeclasses.storeclassid }) }}">
                                                            <i class="fa fa-times-circle"></i> Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                                <!-- Modal -->
                                                <div class="modal fade" id="storeclassModal{{ storeclasses.storeclassid }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                                </div><!-- /.modal -->
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade in" id="landlordPMModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        </div><!-- /.modal -->
        <div class="modal fade in" id="storeClassModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        </div><!-- /.modal -->
        <div class="modal fade in" id="buildingTypessModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        </div><!-- /.modal -->
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/media/assets/js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js') }}"></script>

    <script>
        jQuery(document).ready(function() {
            $('.datatable').dataTable();
            App.setPage("dynamic_table");
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}
