<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">PROPERTY MANAGER</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    {{ form_start(propertyManagerForm, {'attr': {'id': 'propertymanagerForm', 'role': 'form',
                    'class': 'form-horizontal'} }) }}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Property Manager Name:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.propertymanagername, {'label': 'Property Manager Name',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.address, {'label': 'Address',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Postal Zip:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.postalzip, {'label': 'Postal Zip',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Attention:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.attention, {'label': 'Attention',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.phone, {'label': 'Phone',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fax:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.fax, {'label': 'Fax',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Province State:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.provincestateid, {'label': 'Province State',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">City:</label>
                        <div class="col-sm-9">
                            {{ form_widget(propertyManagerForm.city, {'label': 'City',
                            'label_attr': {'class': 'control-label'},
                            'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    {{ form_end(propertyManagerForm) }}
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" form="propertymanagerForm">Save changes</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
