{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">License By Expiry</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <table id="datatableLicensebyExpiry" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>STORE NAME</th>
                    <th>LICENSE AGREEMENT</th>
                    <th>START DATE</th>
                    <th>EXPIRY DATE</th>
                    <th>ROYALTY FEE</th>
                    <th>ADVERTISING FEE</th>
                    <th>REGIONAL FEE</th>
                    <th>COMMENTS</th>
                </tr>
                </thead>
                <tbody>
                {% for license in licenseByExpiry %}
                    <tr>
                        <td> <a href="{{ path('_summary_get_id', {'id': license.restaurantId}) }}">{{ license.storeNickname }}</a></td>
                        <td> {{ license.licenseAgreement }}</td>
                        <td>{{ license.startDate}}</td>
                        <td>{{ license.expiryDate}}</td>
                        <td>{{ license.royaltyFee }}</td>
                        <td>{{ license.advertisingFee }}</td>
                        <td>{{ license.regionalFee }}</td>
                        <td>{{ license.comments }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/media/assets/js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js') }}"></script>

    <script>
        jQuery(document).ready(function() {
            $('.datatable').dataTable({
                "iDisplayLength": 25,
                "sPaginationType": "bs_full",
                sDom: "<'row'<'dataTables_header clearfix'<'col-md-4'l><'col-md-8'Tf>r>>t<'row'<'dataTables_footer clearfix'<'col-md-6'i><'col-md-6'p>>>",
                oTableTools: {
                    aButtons: ["copy", "print", "csv", "xls", "pdf"],
                    sSwfPath: "{{ asset('bundles/earlslease/js/swf/copy_csv_xls_pdf.swf') }}"
                }
            });
            App.setPage("dynamic_table");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>

{% endblock %}