{% extends "EarlsLeaseBundle::layout.html.twig" %}
{% block body %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <div class="clearfix">
                    <h3 class="content-title pull-left">Leases By Expiry</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="datatableLeasebyExpiry" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>STORE NAME</th>
                    <th>STORE CLASS</th>
                    <th>EXPIRY DATE</th>
                    <th>OPTION TIME</th>
                    <th>OPTION DEADLINE</th>
                    <th>RENEWAL COMMENTS</th>
                </tr>
                </thead>
                <tbody>
                {% for lease in leasesByExpiry %}
                    <tr>
                        <td> <a href="{{ path('_summary_get_id', {'id': lease.restaurantId}) }}">{{ lease.storeNickName }}</a></td>
                        <td> {{ lease.storeClass }}</td>
                        <td>{{ lease.leaseExpiryDate }}</td>
                        <td>{{ lease.leaseOptionDate }}</td>
                        <td>{{ lease.leaseOptionDeadline }}</td>
                        <td>{{ lease.leaseRenewalComments }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/media/assets/js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/earlslease/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js') }}"></script>

    <script>
        jQuery(document).ready(function() {
            $('.datatable').dataTable();
            App.setPage("dynamic_table");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}